@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
	color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	font-family: Roboto, arial, sans-serif;
	border-radius: 25px;
}
body{
	background-color: black;
	background-image: url("img/bg.jpg");
	background-size: 20vh 20vh;
}

p {
	font-family: Roboto;
	font-size: 22px;
	text-decoration: none;
	color: white;
}

.navig{
	height: 40px;
	position: fixed;
	text-align: center;
	top: 20px;

}

#sobreMi{
	width:80%; 
	margin-top: 20px; 
	margin-bottom:20px;
}
#sobreMi p{
	font-family: Roboto;
	font-size: 18px;
	text-decoration: none;
	color: white;
}

#title{
	text-align: center;
	font-family: Syne Mono;
	font-size: 50px;
	text-transform: uppercase;
	text-shadow: #FFF 0 -1px 2px, #ff0 0 -1px 5px, #ff8000 0 -5px 10px, blue 0 -9px 20px;
}

.block{
	background-color: rgba(191,157,61,.6);
	display: flex;
	align-self: center;
	flex-wrap: wrap; no-wrap
	justify-content: space-between;
	align-self: center;
	width: 70%;
	height: 80%;
	border: 3px double rgb(191,157,61);
	padding-bottom: 30px;
}

.block a{
	text-transform: uppercase;
	text-decoration: none;
}

.buttonBase p{
	color: black;
}

.infoBlock{
	background-color: rgba(191,157,61,.6);
	align-self: center;
	flex-wrap: wrap;
	justify-content: space-between;
	align-self: center;
	width: 80%;
	height: 80%;
	border: 3px double rgb(191,157,61);
}

.buttonBase{
	margin-top: 20px;
	background-color: rgba(127,180,184,.8);
	width: 27vw;
	height: 30vh;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
	text-align: center;
	font-size: 36px;
	font-weight: normal;
}
.buttonBase:hover{
	background-color: rgba(127,180,184,1);
    transform: scale(1.15);
	font-weight: bold;
    font-size: 54px;
}

.buttonBase img{
	object-fit: contain;
	height: 65%;
	width: 65%;
	border-radius: 10px;
}

#buttonBack{
	z-index: 1;
	position: fixed; 
	right: 20px; 
	top:20px;
	border-radius: 15px;
	background-color: rgba(127,180,184,1);
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
}
#buttonBack:hover{
	background-color: rgb(191,157,61);
	color: black;
}

.listTitle{
	text-decoration-line: underline;
	text-decoration-color:  lightgray;
}

.list{
	width: 60%;
	margin: auto;
	padding-left: 20px;
}

li{
	color: rgb(127,180,184);
}

.gameRef{
	background-color: rgba(191,157,61,.5);
	border: 2px solid rgb(191,157,61);
	font-size: 18px;
	width: 80%;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 20px;
}

.gameRef a{
	color: rgb(127,180,184);
}

.buttonMore{
	background-color: rgba(127,180,184,0);
	align-items: center;
	text-align: center;
	line-height: 0px;
	transition-duration: .8s;
	width: 400px;
	height: 50px;
	border-radius: 25px;
}
.buttonMore:hover{
	background-color: rgb(191,157,61);
}