@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
	color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	font-family: Roboto, arial, sans-serif;
}

body{
	background: black;
}

a{
	text-decoration: none;
}

.pimgPud, .pimgTFG, .pimgPaC, .pimgDibuixos, .pimgProps, .pimgEnProces, .pimgProg{
	position:relative;
	opacity:0.65;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

.pimgPud{
	background-image:url('./ref/Pud/Cuina/rendercuina.png');
	min-height:100vh;
}

.pimgTFG{
	background-image:url('./ref/TFG/SeaShanty.png');
	min-height:100vh;
}

.pimgPaC{
	background-image:url('./ref/PaC/ak47.png');
	min-height:100vh;
}

.pimgDibuixos{
	background-image:url('./ref/dibuixos/casc.jpg');
	min-height:100vh;
}

.pimgProps{
	background-image:url('./ref/Props/ArcanistBook/render1.png');
	min-height:100vh;
}

.pimgEnProces{
	background-image:url('./ref/EnProces/Casa01/Casa01_front.png');
	min-height:100vh;
}

.pimgProg{
	background-image:url('./ref/Prog/prog.png');
	min-height:100vh;
}

.ptext{
	font-family: Roboto;
	position:absolute;
	top:50%;
	width:99%;
	text-align:center;
	color:black;
	font-size:27px;
	letter-spacing:8px;
	text-transform:uppercase;
}

.ptext .border{
	font-family: Roboto;
	background-color:rgb(127,180,184,.7);
	color:white;
	padding:20px;
	border-radius: 25px;
}

.ptext .border.trans{
	background-color:transparent;
}

.section{
	text-align:center;
	padding:50px 80px;
}

.section-gold{
	background-color:rgb(191,157,61,0.7);
	color:black;
}

.parallaxText{
	width: 80%;
	font-size:22px;
}

#buttonBack{
	z-index: 1;
	position: fixed; 
	right: 20px; 
	top:20px;
	border-radius: 15px;
	background-color: rgba(127,180,184,1);
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
}
#buttonBack:hover{
	background-color: rgba(191,157,61,1);
	color: black;
}

.buttonMore{
	background-color: rgba(127,180,184,0);
	align-items: center;
	text-align: center;
	line-height: 0px;
	transition-duration: .8s;
	width: 400px;
	height: 50px;
	border-radius: 25px;
}
.buttonMore:hover{
	background-color: rgb(191,157,61);
}