@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
  	font-family: "Poppins", sans-serif;
	color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	text-align: center;
	border-radius: 25px;
}

body{
	justify-content: center;
	align-items: center;
	background-color: rgb(51,51,51);
	border: 8px solid rgb(191,157,61);
	border-radius: 30px;
}
 
header{
	min-height: 200px;
	text-align: center;
	line-height: 100vh;
	font-size: 50px;
}

nav{
	width: 60%;
	background-color: rgba(128, 116, 94, 0.5);
	border-radius: 25px;
}

#container{
	color: white;
	width: 70%;
	margin: 0px auto;
}

.clearfix{
	clear: both;
}

.article{
	color: white;
}

#content{
	float: left;
	width: calc(77% - 20px);
	min-height: 500px;
	padding: 10px;
}

aside{
	color: black;
	line-height: 25px;
	float:  right;
	width: 20%;
	min-height: 500px;
	padding: 10px;
	padding-left: 30px;
	padding-top: 15px;
	background:  rgb(191,157,61);
}

aside li {
	color: deepskyblue;
}


aside li:hover>a {
	color: black;
	background: rgb(127,180,184);
}

#asideTitle{
	font-family: Syne Mono;
	color: rgb(240,240,240);
	text-decoration: underline;
	font-size: 40px;
}

footer{
	color: black;
	font-size: 50px;
	background-color: rgb(191,157,61);
}

#clickingimages{
	background: rgb(191,157,61);
	border: 3px solid white;
	padding: 3px;
	border-radius: 10px;
	align-items: center;
}

#contact{
	color: black;
}

.inBlock{
	margin-top: 10px;
	margin-bottom: 10px;
	border: 4px solid rgb(191,157,61);
	border-radius: 15px;
	max-width: calc(70% - 50px);
	max-height: calc(70% - 50px);
}

#colorOrange{
	font-size: 25px;
	min-width: 15%;
	min-height: 100px;
	max-width: 40%;
	max-height: 60%;
	background-color: rgb(191,157,61);
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 15px;
	border: 2px solid white;
}
#colorSkyblue{
	font-size: 25px;
	min-width: 15%;
	min-height: 100px;
	max-width: 40%;
	max-height: 60%;
	background-color: rgb(127,180,184);
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 15px;
	border: 2px solid white;
}

#typo1{
	font-size: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 4px solid rgb(191,157,61);
	border-radius: 15px;
	max-width: calc(100% - 50px);
	max-height: calc(100% - 50px);
	font-family: Roboto;
}
#typo2{
	font-size: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 4px solid rgb(191,157,61);
	border-radius: 15px;
	max-width: calc(100% - 50px);
	max-height: calc(100% - 50px);
	font-family: Pacifico;
}
#typo3{
	font-size: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 4px solid rgb(191,157,61);
	border-radius: 15px;
	max-width: calc(100% - 50px);
	max-height: calc(100% - 50px);
	font-family: Syne Mono;
}

h1{
	font-family: Syne Mono;
	font-size: 70px;
	text-decoration: underline;
	text-transform: uppercase;
	text-shadow: #FFF 0 -1px 2px, #ff0 0 -1px 5px, #ff8000 0 -5px 10px, orange 0 -9px 20px;
}
h2{
	font-family: Syne Mono;
	color: rgb(240,240,240);
	text-decoration: underline;
	font-size: 40px;
}
h3{
	font-family: Syne Mono;
	color: rgb(200,200,200);
	text-decoration: underline;
	font-size: 35px;
}
h4{
	font-family: Syne Mono;
	color: rgb(170,170,170);
	text-decoration: underline;
	font-size: 30px;
}
p{
	max-width: calc(70% - 50px);
	font-family: Roboto;
	color: rgb(201, 183, 135);
	font-size: 20px;
}

#active{
	background-color: rgb(191,157,61);
	color: white;
	border-radius: 10px;
	font-weight: bolder;
}
#inactive{
	background-color: rgb(130,130,130);
	color: white;
	border-radius: 10px;
	font-weight: bolder;
}
#action{
	background-color: rgb(127,180,184);
	color: white;
	border-radius: 10px;
	font-weight: bolder;
}

button{
	cursor: pointer;
	margin-bottom: 10px;
	margin-top: 10px;
}

.inBlock img{
	background-color: rgb(191,157,61);
	border-radius: 15px;
	border: 3px solid white;
	margin-bottom: 10px;
	margin-top: 10px;
}

.slider{
	position: relative;
	width: 800px;
	min-height: 500px;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.slider .slide{
	position: absolute;
	width: 100%;
	height: 100%;
	clip-path: circle(0% at 0 50%);
}

.slider .slide.active{
	clip-path: circle(150% at 0 50%);
	transition: 2s;
}

.slider .slide img{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50px;
}

.slider .slide .info{
	position: relative;
	color: #222;
	background: rgba(255, 255, 255, 0.3);
	width: 75%;
	margin-top: 50px;
	margin-left: 50px;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
}

.slider .slide .info h2{
	font-size: 2em;
	font-weight: 800;
}

.slider .slide .info p{
	font-size: 1em;
	font-weight: 400;
}

.navigation{
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	opacity: 0;
	transition: opacity 0.5s ease;
}

.slider:hover .navigation{
	opacity: 1;	
}

.prev-btn, .next-btn{
	z-index: 999;
	font-size: 2em;
	color: #222;
	background: rgba(255, 255, 255, 0.8);
	padding: 10px;
	cursor: pointer;
	border-radius: 10px;
}

.prev-btn{
	position: absolute;
	left: 30px;
}

.next-btn{
	position: absolute;
	right: 10px;
}

.navigation-visibility{
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;	
}

.navigation-visibility .slide-icon{
	z-index: 999;
	background: rgba(255, 255, 255, 0.5);
	width: 20px;
	height: 10px;
	transform: translateY(-50px);
	margin: 0 6px;
	border-radius: 2px;
	box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.navigation-visibility .slide-icon.active{
  background: #4285F4;
}
	

@media (max-width: 900px){

	body, h1, h2, h3, h4, p{
			font-size: 10px;
			overflow: hidden;
		}
	  .slider{
	    width: 100%;
	  }

	  .slider .slide .info{
	    position: relative;
	    width: 80%;
	    margin-left: auto;
	    margin-right: auto;
	  }
}

@media (max-width: 500px){
	  .slider .slide .info h2{
	    font-size: 1.8em;
	    line-height: 40px;
	  }

	  .slider .slide .info p{
	    font-size: 0.9em;
	  }
}